<div class="button-list">
  <div class="main-button-border" (click)="routeToCreateNewGame()">
    <div class="main-button-content">
      <div class="main-button-text">
      开始新游戏
        </div>
    </div>

  </div>

  <div class="main-button-border" >

    <div class="main-button-content">
      <div class="main-button-text">
      读取进度
        </div>
    </div>
  </div>

  <div class="main-button-border" >

    <div class="main-button-content">
      <div class="main-button-text">
      设置
      </div>
    </div>
  </div>

  <div class="main-button-border" (click)="routeToExitGame()">

    <div class="main-button-content">
      <div class="main-button-text">退出游戏</div>
    </div>
  </div>
</div>
