.dialog-on-top, .dialog-on-middle, .dialog-on-bottom {
  position: relative;
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dialog-on-top {
  top: 50px;
}

.dialog-on-middle {
  top: 175px;
}

.dialog-on-bottom {
  top: 300px;
}

.clickable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;  /* Adjust width as needed */
  height: 550px; /* Adjust height as needed */
  background-color: rgba(211, 211, 211, 0.5); /* Light gray with some transparency */
  cursor: pointer;
  z-index: 100;
}
